.search-filters{
    display: block;
    h2{
        color: var(--text-color);
        margin-bottom: .5em;
    }
    .search-filters-container{
        .search-item{
            display: inline-block;
            margin: 0 1em 1em 0;
            transform: translateX(100%);
            opacity: 0;
            animation: getAnimationDuration(.5s) slideInRight forwards;
            .btn{
                background-color: var(--primary-color);
                color: #fff;
                padding: .5em 1em;
                border-radius: 30px;
            }
            .btn:hover {
                cursor: pointer;
                background-color: #4d4d4d;
            }
            .btn:focus {     
                background-color:#4d4d4d;    
            }
            .view-btn{
                font-size: 1em;
                font-weight: bold;
                color: var(--primary-color);
                margin-top: .75em;
                display: inline-block;
            }
        }
    }
    .search-box{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 35px;
        input, .btn{
            height: 35px;
        }
        input{
            min-width: 250px;
            padding: 0 .5em;
            border-radius: 5px 0 0 5px;
            outline: none;
            border: 1px solid #4d4d4d;
        }
        .btn{
            padding-block: 0;
            padding-inline: .75em;
            border-radius: 0 5px 5px 0;
        }
    }
}